---

# **Importing of Libraries**

- In this section, we have imported all the libraries that we will used to interact with Airtables.

---

In [2]:
import json
import requests
import pandas as pd

---

# **Listing all Records**

- In this section, we will call List Records API to get all the records from the Airtable and view in pandas dataframe.

---

In [15]:
base_id = "<Your base ID>"

sheet_name = "Sheet1"

url = "https://api.airtable.com/v0/" + base_id + "/" + sheet_name + "?view=Grid%20view"

payload={}
headers = {
  'Authorization': 'Bearer <Your API Key>',
  'Cookie': 'brw=brwbM7nZ30nxBXdlg'
}

# Getting a response from server
response = requests.request("GET", url, headers=headers, data=payload)

# Getting list of dictionary from the JSON object
raw_records = list()
read_json = json.loads(s=response.text)
records = read_json['records']

for record in records:
    raw_records.append(record['fields'])
    
# Transforming list of dictionaries to a dataframe
data = pd.DataFrame(data=raw_records)
data

    income student          age buys_computer credit_rating
0     high      no  middle-aged           yes          fair
1   medium      no       senior           yes          fair
2      low     yes       senior           yes          fair
3      low     yes       senior            no     excellent
4      low     yes  middle-aged           yes     excellent
5   medium      no        youth            no          fair
6      low     yes        youth           yes          fair
7   medium     yes       senior           yes          fair
8   medium     yes        youth           yes     excellent
9   medium      no  middle-aged           yes     excellent
10    high     yes  middle-aged           yes          fair
11  medium      no       senior            no     excellent
12    high      no        youth            no          fair
13    high      no        youth            no     excellent

---

# **Creating Records**

- In this section, we will make a call to Create Records API to add entries in the Airtable, and then view results in pandas dataframe.

---

In [24]:
base_id = "<Your base ID>"

sheet_name = "Sheet1"

url = "https://api.airtable.com/v0/" + base_id + "/" + sheet_name

payload = json.dumps({
  "records": [
    {
      "fields": {
        "age": "youth",
        "income": "high",
        "student": "no",
        "credit_rating": "fair",
        "buys_computer": "no"
      }
    },
    {
      "fields": {
        "age": "youth",
        "income": "high",
        "student": "no",
        "credit_rating": "excellent",
        "buys_computer": "no"
      }
    }
  ]
})

headers = {
  'Authorization': 'Bearer <Your API Key>',
  'Content-Type': 'application/json',
  'Cookie': 'brw=brwbM7nZ30nxBXdlg'
}

response = requests.request(method="POST", url=url, headers=headers, data=payload)

# Getting list of dictionary from the JSON object
raw_records = list()
record_ids = list()

read_json = json.loads(s=response.text)
records = read_json['records']

for record in records:
    record_ids.append(record['id'])
    raw_records.append(record['fields'])
    print('Record with record id [' + record['id'] + '] created successfully!')

# Transforming list of dictionaries to a dataframe
data = pd.DataFrame(data=raw_records)
data

Record with record id [receKdqQcSTtzct8e] created successfully!
Record with record id [recsw1m6GwrMkS4wa] created successfully!

     age income student credit_rating buys_computer
0  youth   high      no          fair            no
1  youth   high      no     excellent            no

---

# **Updating Records**

- In this section, we will make a call to Update Records API to update entries in the Airtable, and then view results in pandas dataframe.

---

In [25]:
base_id = "<Your base ID>"

sheet_name = "Sheet1"

url = "https://api.airtable.com/v0/" + base_id + "/" + sheet_name

payload = json.dumps({
  "records": [
    {
      "id": "receKdqQcSTtzct8e",
      "fields": {
        "age": "youth",
        "income": "high",
        "student": "no",
        "credit_rating": "fair",
        "buys_computer": "no"
      }
    },
    {
      "id": "recsw1m6GwrMkS4wa",
      "fields": {
        "age": "youth",
        "income": "high",
        "student": "no",
        "credit_rating": "excellent",
        "buys_computer": "no"
      }
    }
  ]
})

headers = {
  'Authorization': 'Bearer <Your API Key>',
  'Content-Type': 'application/json',
  'Cookie': 'brw=brwbM7nZ30nxBXdlg'
}

response = requests.request("PATCH", url, headers=headers, data=payload)

# Getting list of dictionary from the JSON object
raw_records = list()
record_ids = list()

read_json = json.loads(s=response.text)
records = read_json['records']

for record in records:
    record_ids.append(record['id'])
    raw_records.append(record['fields'])
    print('Record with record id [' + record['id'] + '] updated successfully!')

print('Records Updated Successfully!')

# Transforming list of dictionaries to a dataframe
data = pd.DataFrame(data=raw_records)
data

Record with record id [receKdqQcSTtzct8e] updated successfully!
Record with record id [recsw1m6GwrMkS4wa] updated successfully!
Records Updated Successfully!

     age income student credit_rating buys_computer
0  youth   high      no          fair            no
1  youth   high      no     excellent            no

---

# **Deleting Records**

- In this section, we will make a call to Delete Records API to delete entries in the Airtable, and then view results in pandas dataframe.

---

In [26]:
base_id = "<Your base ID>"

sheet_name = "Sheet1"

record_id1 = "receKdqQcSTtzct8e"

record_id2 = "recsw1m6GwrMkS4wa"

url = "https://api.airtable.com/v0/" + base_id + "/" + sheet_name + "?records[]=" + record_id1 + "&records[]=" + record_id2

payload='records%5B%5D=' + record_id1 + '&records%5B%5D=' + record_id2

headers = {
  'Authorization': 'Bearer <Your API Key>',
  'Content-Type': 'application/x-www-form-urlencoded',
  'Cookie': 'brw=brwbM7nZ30nxBXdlg'
}

response = requests.request("DELETE", url, headers=headers, data=payload)

read_json = json.loads(s=response.text)
records = read_json['records']

for record in records:
    print('Record with record id [' + record['id'] + '] deleted successfully!')
    
# Transforming list of dictionaries to a dataframe
data = pd.DataFrame(data=records)
data

Record with record id [receKdqQcSTtzct8e] deleted successfully!
Record with record id [recsw1m6GwrMkS4wa] deleted successfully!

   deleted                 id
0     True  receKdqQcSTtzct8e
1     True  recsw1m6GwrMkS4wa